<!-- TOPIC INFO -->
<div ng-controller="getATopicController">
  <h1>{{ topic.name }}</h1>
</div>

<!-- TOPIC'S MESSAGES -->
<div ng-controller="getTopicMsgsController">
  <div ng-repeat="msg in messages">
    <h3>{{ msg.body }}</h3>
  </div>
</div>

<!-- ADD NEW MESSAGE -->
<div ng-controller="addMessageController">
  <h3>Post a new message:</h3>
  <form>
    <label>Message:</label>
    <input type="text" name="body" ng-model="body">
    <input type="button" value="Submit" ng-click="addMessage()">
  </form>
</div>